* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-image: url('./img/IMG_9570.PNG');
    background-repeat: no-repeat;
    background-size: cover;

}

#winL {
    z-index: 200;
    display: none;
    position: absolute;
}

#loserL {
    z-index: 200;
    display: none;
    position: absolute;
}



.lifes {
    display: flex;
}

#game-screen {

    position: relative;
    overflow: hidden;
}